.App {
  text-align: center;
}
.nav {
  display: flex;
  justify-content:space-around;
  padding: 15px;
  font-size: 2em;
  width: 30vw;
 
}

.nav a {
  color: rgb(48, 81, 48);
  text-decoration: none;
}
.logo{
  width: 90px;
  border-radius: 50%;
}
.navLogo{
  display: flex;
  justify-content: space-around;
}

.result {
  margin-bottom: 30px;
  margin-right: 20px ;
  width: 20%;
  
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 10px;
  background-color: rgb(200, 221, 220);
  
}
.result a{
  color: rgb(44, 59, 59);
  text-decoration-line: none;
}
.result1{
  text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}
.products{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  
}
.productResult{
  margin-bottom: 30px;
  margin-right: 20px ;
  width: 20%;
  height:auto;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 10px;
  /* background-color: rgb(200, 221, 220); */
  
}
.productImg{
  border: solid red;
  height:40%;
  margin: 10px;
}

.productImg img{
  width: 200px;
  height: 100%;
}
button{

  background-color:rgb(51, 101, 87);
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-color: transparent;
  color: white;
  font-weight: bold;
  margin: 10px 0px 10px;

}
.title{
  color: rgb(44, 59, 59);
  height: 100px;
font-weight:400 ;
}
.productResult h3{
  color: rgb(44, 59, 59);
}

.selectedItems{

  /* border: solid black; */
  width: 90vw;
  margin: 20px;
  margin-bottom: 120px;
  

}
.item{
  margin-bottom: 30px;
  /* margin-right: 20px ; */
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 10px;
  
  
  
}


.item img {
  width: 30%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
  
}

.itemInfo{
  display: flex;
  
}

.info{

  padding: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;

}
.screen{
 /* border: solid red; */
  width: 80vw;
  
}



.checkoutBtn{
  padding: 10px;
  margin: 10px;
  font-size: larger;
}
.checkout{
  /* border: solid green; */
  margin-bottom: 30px;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 10px;
  text-align: left;
  text-align: center;
  /* position: fixed; */
  bottom: 0;
  background-color: white;
}
.plus, .minus{
  margin: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
